*.ali
*.o
default_pathes.ads
*.v87
*.v93
*.v08
b~*.ad?
*-obj*.cf
translate/grt/*.a
translate/grt/run-bind.*
translate/grt/grt-files*
translate/grt/grt.lst
translate/ghdl1-*
oread-debug
ghdl_gcc
*.tar.bz2
